.about {
  background: #232323;
  padding-top: 76px;
  padding-bottom: 51px;
  zoom: 1.4;

  @media (max-width: 1560px) {
    zoom: 1.3;
  }
  @media (max-width: 640px) {
    zoom: 1;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 105px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }
  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 45px;
    line-height: 115%;
    color: #fff;
    margin-bottom: clamp(30px, 3vw, 40px);
    @media (max-width: 640px) {
      font-size: 22px;
    }
  }
  p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 20px;
    max-width: 370px;
  }
  .about-btn {
    max-width: 356px;
    width: 100%;

    @media (max-width: 640px) {
      max-width: 100%;
    }
  }

  .about-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .about-futures {
    margin-top: auto;
    border-top: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 800px;
    @media (max-width: 640px) {
      margin-top: 20px;
      gap: 20px;
    }
    .item {
      display: flex;
      flex-direction: column;
      gap: clamp(2px, 1vw, 10px);
      padding-top: 39px;
      padding-bottom: 20px;
      @media (max-width: 640px) {
        padding-top: 30px;
      }
      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
      .number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        color: #b6b6b6;
        @media (max-width: 640px) {
          font-size: 14px;
        }
        strong {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 32px;
          line-height: 100%;
          color: #fff;
          @media (max-width: 640px) {
            font-size: 20px;
          }
        }
      }
      .text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #fff;
        @media (max-width: 640px) {
          font-size: 10px;
        }
      }
    }
  }

  .about-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 950px;
    transform: translateY(20px);
    @media (max-width: 992px) {
      display: none;
    }
    img {
      border-radius: 12px;
      height: 100%;
    }
    .image-cols {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }

  .about-mobile-img {
    display: none;

    @media (max-width: 640px) {
      display: block;
      margin-top: 20px;
    }
  }
}
