.gallery {
  margin-top: 73px;

  .gallery-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #000;
    border-bottom: 1px solid #333;
    padding-bottom: 16px;
    margin-bottom: 50px;
    zoom: 1.9;
    @media (max-width: 640px) {
      font-size: 22px;
      zoom: 1;
      margin-bottom: 30px;
    }
  }

  .gallery-items {
    display: grid;
    grid-template-columns: 1fr 614px;
    gap: 20px;
    @media(max-width: 1440px) {
      grid-template-columns: 1fr 0.5fr;
    }
    @media (max-width: 1140px) {
      grid-template-columns: 1fr;
    }
  }

  .gallery-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 1140px) {
      grid-template-columns: 1fr;
    }
    .first {
      background: #232323;
      padding: 40px 40px 40px 64px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width: 640px) {
        padding: 24px;
        gap: 60px;
      }
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        color: #fff;
        max-width: 260px;
        strong {
          font-weight: 700;
        }
      }
    }
    .last {
      grid-column: span 2;
      @media (max-width: 1140px) {
        grid-column: auto;
      }
    }
  }
  .gallery-item {
    border-radius: 10px;
    @media(min-width: 992px) {
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .gallery-right {
    @media (max-width: 1140px) {
      display: none;
    }
  }

  .mobile {
    @media (max-width: 1140px) {
      display: block !important;
    }
  }
}
